@media screen and (min-width: 768px) {
	.cycling-rides {
		margin: auto;
		width: 70vw;
	}

	.news-carousel {
		margin-left: 160px;
	}

	.ride-card {
		margin-left: 160px;
	}

	.MuiCardContent-root {
		max-height: 10vh;
	}
}
